body {  
  background-color: rgb(33,33,33);
}

#welcome {
  text-align: center;
  color: yellow;
}

.banner {
  display:flex;
  justify-content:center; 
}

p{
  color: white;
}

#footer {
  text-align: center;
  color: yellow;
}