body {
  max_width: 800px;
  background-color: red;
}

#welcome {
  text-align: center;
  color: yellow;
}

.banner {
  display:flex;
  justify-content:center; 
}

#container{
  background-color:red;
  max-width: 800px;
  margin: 0 auto;
}